<%= form_tag 'tasks/log' do %>
    <table>
    <tr>
		<th>
			Change value
		</th>
		 <th>
			Remaining value
		</th>
		 <th>
			Actual Value
		</th>
	</tr>
	<tr>
    <td>
		<%#= text_field_tag :spent_hours, :onchange=> "myFunction()", :id => "log_spent_hours"%>
		<%= text_field_tag    :onchange => "myFunction()",  :id => "log_spent_hours" %>

    </td>
    <td>  
    <script>
			function myFunction()
			{
				  var current_ele = $("log_spent_hours").value;
				  var actua_value = $("payment_amount").value;

				  remaining_value = actua_value-current_ele
				   $("remaining_time").value = remaining_value;
				   
			 }
	</script>  
		<%= text_field_tag 'remaining time', 0, :disabled => true %>
	</td>

    <td>    
		<%= text_field_tag 'payment_amount', @task.estimated_hours, :disabled => true %>
	</td>
	</tr>
	</table>
<% end %>

   
