<html>
<p> New Task for <b><%#= @storie.name %></b> </p>
<table border="1" >
<tr>
<%= form_for @user_tasks, :url => {:action => :create, :id => @story_id } do |f| %>

  

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
