<h2><b><u>My Projects</u></b></h2>
<hr/>
<% i=0 %>
<% @member.each do |em| %>
<% @pro_id = em.project_id %>
	<% @myprojects_i = Project.find(:all, :conditions => {:id => @pro_id}) %>
	<% @myprojects_i.each do |pro| %>
		<b><%= link_to pro.name, project_path(pro.id) %></b>
	<% end %>
	<% @iteration = Iteration.find(:all, :conditions => {:project_id => @pro_id})%>
	<% @iteration.each do |iter|%>
		<%= iter.name%>
	<%end%>	<br>
<% end %>





