<% @flag = 0 %>
<% @tid = Task.find(:all)%>
<%#= @tid.count %>
<table>
<tr>
<th>Task name</th>
<th>Story name</th>
<th>Iteration name</th>
<th>Project name </th>
</tr>
<%@tid.each do |taskmain|%>
<tr>
	<% if taskmain.acceptor == User.current.lastname%>
        
	<td> <%=taskmain.name%></td>
        <% @user_story = Story.find(:all, :conditions => {:id => taskmain.story_id }) %>
		<% @user_story.each do |st| %>
	    	<td>  <%= st.name %></td>
		 <% @iteration = Iteration.find(:all, :conditions => {:id => st.iteration_id }) %>
			<% @iteration.each do |it| %>
			<td> <%= it.name %></td>
			 	<% @projects.each do |pro| %>
					<% if pro.id == it.project_id %>
					  <td><%= pro.name %></td>
					<% end %>
				<% end %>	
			<% end %>
		<% end %>
		
<%end%>
</tr>

<%end%>
</table>


