<% @user = User.find(@user) %>
<html>
<b>User Name: <%= @user.name %></b>
</br>
<table>
<tr>
<th>Project name </th>
<th>Estimated hours </th>
<th> Actual Hours </th>
</tr>
<% @member.each do |m| %>
<tr>
<% m.project_id %>
<% @project = Project.find(m.project_id) %>
<td><%= @project.name %></td>
<td><%= @project.estimation_time %>
<td></td>
</tr>
<% end %>
</table>
<tfoot>
<hr/>
<center>
<b> </b><%#= @actual_hours.to_f %>   hrs<br/>

</center>
</tfoot>
<style>
tfoot
{
padding:20px;
}
</style>

</html>
